.header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}

.header nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  min-height: 100vh;
}

.header nav.open {
  display: block;
}

.header nav .nav-logo {
  padding: 20px;
}

.header nav ul {
  padding-top: 100px;
  padding-left: 20px;
}

.header nav ul li {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 35px;
}

.header .menu-btn {
  padding: 20px;
  cursor: pointer;
  transition: 0.4s;
}

.header .menu-btn.rotate .bar1 {
  transform: rotate(40deg);
}

.header .menu-btn.rotate .bar2 {
  opacity: 0;
}

.header .menu-btn.rotate .bar3 {
  transform: rotate(-40deg);
  margin-top: -16px;
}

.header .menu-btn .bar {
  width: 35px;
  height: 3px;
  background-color: #fff;
  margin: 0 0 5px;
}

@media (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
  }

  .header .menu-btn {
    display: none;
  }

  .header nav {
    display: block;
    background-color: transparent;
  }

  .header nav .nav-logo {
    display: none;
  }

  .header nav ul {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 20px;
    right: 20px;
    padding: 0;
  }

  .header nav ul li {
    margin-bottom: 0;
    margin-right: 20px;
    text-transform: capitalize;
    font-size: 18px;
  }

  @media (min-width: 1280px) {
    .header {
      padding-left: 80px;
    }

    .header nav ul {
      right: 80px;
    }
  }
}
