.header {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 12px 22px;
}

.navbar ul {
  display: none;
}

.menu-btn {
  padding: 20px;
}

.menu-btn .bar {
  width: 30px;
  height: 2px;
  margin: 0 0 5px;
  background-color: white;
}
