:root {
--white: hsl(0, 0%, 100%)
--black: hsl(0, 0%, 0%)
--darkGray: hsl(0, 0%, 55%)
--veryDarkGray: hsl(0, 0%, 41%)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family:"Josefin Sans", sans-serif;
  text-transform: uppercase;
}

h2 {font-size: 32px;}

p {
  font-size: 15px;
   font-family:"Alata", sans-serif;
   color: var(--veryDarkGray);
}

li {
  font-family:"Alata", sans-serif;
  color: white;
  list-style: none;
}


